In [1]:
from os import environ as env
import nasdaqdatalink
nasdaqdatalink.ApiConfig.api_key = env["NASDAQ_API_KEY"]

In [ ]:
start='2021-05-09'
nasdaqdatalink.get("USTREASURY/YIELD", start_date=start)

In [44]:
nasdaqdatalink.get("USTREASURY/YIELD", rows=1).index[-1].strftime('%Y-%m-%d')

'2021-05-17'

In [20]:
from sharadar.pipeline.engine import prices, symbols
import pandas as pd

In [ ]:
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='AAPL', date={'gte':'2017-01-01', 'lte':'2017-01-10'})

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,AAPL,2018-12-31,39.633,39.840,39.120,39.435,140013864.0,37.949,157.74,2023-05-16
1,AAPL,2018-12-28,39.375,39.630,38.638,39.057,169165696.0,37.586,156.23,2023-05-16
2,AAPL,2018-12-27,38.960,39.193,37.517,39.038,212468260.0,37.566,156.15,2023-05-16
3,AAPL,2018-12-26,37.075,39.307,36.680,39.292,234330176.0,37.812,157.17,2023-05-16
4,AAPL,2018-12-24,37.038,37.888,36.648,36.708,148676928.0,35.324,146.83,2023-05-16
...,...,...,...,...,...,...,...,...,...,...
77,AAPL,2018-09-10,55.237,55.462,54.117,54.583,158065812.0,52.342,218.33,2023-05-16
78,AAPL,2018-09-07,55.462,56.343,55.178,55.325,150479240.0,53.054,221.30,2023-05-16
79,AAPL,2018-09-06,56.557,56.837,55.325,55.775,137159904.0,53.486,223.10,2023-05-16
80,AAPL,2018-09-05,57.248,57.417,56.275,56.718,133331840.0,54.390,226.87,2023-05-16
81,AAPL,2018-09-04,57.102,57.295,56.657,57.090,109560528.0,54.747,228.36,2023-05-16

In [11]:
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='ORCL').size == 0

False

In [9]:
nasdaqdatalink.get_table('SHARADAR/TICKERS', table='SEP', ticker='ONEM')[['firstpricedate', 'lastpricedate']]

     firstpricedate lastpricedate
None
0        2020-01-31    2021-04-23

In [39]:
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='HRST', date={'gte':'2019-10-25', 'lte':'2019-11-05'})

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,HRST,2019-11-05,5.90,7.00,5.85,5.90,4102.0,2.539,0.590,2021-03-25
1,HRST,2019-11-04,5.35,5.80,5.35,5.80,7236.0,2.496,0.580,2021-03-25
2,HRST,2019-11-01,5.45,5.45,5.30,5.40,2593.0,2.324,0.540,2021-03-25
3,HRST,2019-10-31,5.85,5.85,5.45,5.45,6774.0,2.346,0.545,2021-03-25
4,HRST,2019-10-30,5.98,5.98,5.25,5.25,1827.0,2.260,0.525,2021-03-25
5,HRST,2019-10-29,4.00,8.00,4.00,5.98,13147.0,2.574,0.598,2021-03-25
6,HRST,2019-10-28,12.80,13.05,12.50,13.05,3522.0,0.442,1.305,2021-03-25
7,HRST,2019-10-25,12.50,13.00,12.21,13.00,3649.0,0.440,1.300,2021-03-25

In [37]:
nasdaqdatalink.get_table('SHARADAR/ACTIONS', ticker='HRST')

,date,action,ticker,name,value,contraticker,contraname
None,,,,,,,
0,2020-12-01,dividend,HRST,Harvest Oil & Gas Corp,10.0,N/A,None
1,2020-08-25,dividend,HRST,Harvest Oil & Gas Corp,10.0,N/A,None
2,2020-08-14,dividend,HRST,Harvest Oil & Gas Corp,10.0,N/A,None
3,2020-05-11,split,HRST,Harvest Oil & Gas Corp,0.1,N/A,None
4,2019-10-29,dividend,HRST,Harvest Oil & Gas Corp,70.0,N/A,None
5,2018-09-20,listed,HRST,Harvest Oil & Gas Corp,15.0,N/A,None

In [24]:
# [2021-04-24 20:16:52.380015] WARNING: zipline.data.adjustments: Dividend ratio <= 0 for dividend sid=199399, ex_date=2020-05-12, amount=14.580
nasdaqdatalink.get_table('SHARADAR/TICKERS', table='SEP', ticker='RAND')[['firstpricedate', 'lastpricedate']]

     firstpricedate lastpricedate
None
0        2000-04-14    2019-01-03

In [26]:
nasdaqdatalink.get_table('SHARADAR/ACTIONS', ticker='RAND')

,date,action,ticker,name,value,contraticker,contraname
None,,,,,,,
0,2021-03-12,dividend,RAND,Rand Capital Corp,0.10000,N/A,None
1,2020-12-30,dividend,RAND,Rand Capital Corp,1.33000,N/A,None
2,2020-05-22,split,RAND,Rand Capital Corp,0.11111,N/A,None
3,2020-05-12,dividend,RAND,Rand Capital Corp,14.58001,N/A,None
4,1997-12-31,initiated,RAND,Rand Capital Corp,NaN,N/A,None

In [25]:
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='RAND', date={'gte':'2020-05-09', 'lte':'2020-05-15'})

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,RAND,2020-05-15,13.77,14.334,12.780,13.14,18762.648,12.163,1.46,2021-03-12
1,RAND,2020-05-14,14.67,15.300,12.781,14.85,18306.204,13.746,1.65,2021-03-12
2,RAND,2020-05-13,16.38,17.370,12.510,14.22,28374.638,13.163,1.58,2021-03-12
3,RAND,2020-05-12,15.48,21.060,15.300,17.64,84642.471,16.329,1.96,2021-03-12
4,RAND,2020-05-11,26.91,29.520,25.200,26.91,45013.288,13.638,2.99,2021-03-12

In [21]:
start = pd.to_datetime('2020-05-10', utc=True)
end = pd.to_datetime('2020-05-15', utc=True)
prices(symbols(['RAND']), start, end)

2020-05-11 00:00:00+00:00    2.99
2020-05-12 00:00:00+00:00    1.96
2020-05-13 00:00:00+00:00    1.58
2020-05-14 00:00:00+00:00    1.65
2020-05-15 00:00:00+00:00    1.46
Freq: C, Name: Equity(199399 [RAND]), dtype: float64

In [23]:
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='AAPL', date={'gte':'2020-08-26', 'lte':'2020-09-02'})

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,AAPL,2020-09-02,137.590,137.980,127.000,131.400,198233370.0,130.977,131.40,2021-02-05
1,AAPL,2020-09-01,132.760,134.800,130.530,134.180,150698946.0,133.748,134.18,2021-02-05
2,AAPL,2020-08-31,127.580,131.000,126.000,129.040,223505733.0,128.625,129.04,2021-02-05
3,AAPL,2020-08-28,126.013,126.442,124.578,124.808,187629916.0,124.406,499.23,2021-02-05
4,AAPL,2020-08-27,127.142,127.485,123.832,125.010,154146696.0,124.608,500.04,2021-02-05
5,AAPL,2020-08-26,126.179,126.993,125.082,126.522,161004836.0,126.115,506.09,2021-02-05

In [22]:
start = pd.to_datetime('2020-08-26', utc=True)
end = pd.to_datetime('2020-09-02', utc=True)
prices(symbols(['AAPL']), start, end)

2020-08-26 00:00:00+00:00    126.522
2020-08-27 00:00:00+00:00    125.010
2020-08-28 00:00:00+00:00    124.808
2020-08-31 00:00:00+00:00    129.040
2020-09-01 00:00:00+00:00    134.180
2020-09-02 00:00:00+00:00    131.400
Freq: C, Name: Equity(199059 [AAPL]), dtype: float64

In [27]:
#WARNING: zipline.data.adjustments: Dividend ratio <= 0 for dividend sid=198143, ex_date=1998-01-16, amount=165.002
#APEX
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='APEX', date={'gte':'1998-01-10', 'lte':'1998-01-21'})

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,APEX,1998-01-21,288.753,300.003,288.753,296.253,1773.316,119.625,9.875,2020-09-02
1,APEX,1998-01-20,292.503,300.003,277.503,292.503,3576.631,118.111,9.750,2020-09-02
2,APEX,1998-01-16,315.003,315.003,273.753,277.503,4106.626,112.054,9.250,2020-09-02
3,APEX,1998-01-15,446.404,465.005,390.004,459.305,5746.609,116.308,15.310,2020-09-02
4,APEX,1998-01-14,435.004,461.405,435.004,442.504,2186.645,112.054,14.750,2020-09-02
5,APEX,1998-01-13,420.004,450.005,420.004,450.005,1163.322,113.953,15.000,2020-09-02
6,APEX,1998-01-12,420.004,438.904,412.504,420.004,466.662,106.356,14.000,2020-09-02

In [33]:
# 2021-04-24 20:16:52.380321] WARNING: zipline.data.adjustments: Dividend ratio <= 0 for dividend sid=195680, ex_date=2020-03-11, amount=0.500
nasdaqdatalink.get_table('SHARADAR/ACTIONS', ticker='NBR')

,date,action,ticker,name,value,contraticker,contraname
None,,,,,,,
0,2021-04-23,relation,NBR,Nabors Industries Ltd,NaN,NBR-PA,Nabors Industries Ltd
1,2020-04-23,split,NBR,Nabors Industries Ltd,0.02,N/A,None
2,2020-03-11,dividend,NBR,Nabors Industries Ltd,0.50,N/A,None
3,2019-12-12,dividend,NBR,Nabors Industries Ltd,0.50,N/A,None
4,2019-09-10,dividend,NBR,Nabors Industries Ltd,0.50,N/A,None
5,2019-06-10,dividend,NBR,Nabors Industries Ltd,0.50,N/A,None
6,2019-03-11,dividend,NBR,Nabors Industries Ltd,0.50,N/A,None
7,2018-12-12,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
8,2018-09-10,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
9,2018-06-11,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
10,2018-03-12,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
11,2017-12-14,acquisitionof,NBR,Nabors Industries Ltd,173.00,TESO,Tesco Corp
12,2017-12-12,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
13,2017-09-11,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
14,2017-06-12,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
15,2017-03-10,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
16,2016-12-12,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
17,2016-09-09,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
18,2016-06-08,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
19,2016-03-08,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
20,2015-12-08,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
21,2015-09-04,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
22,2015-06-05,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
23,2015-03-06,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
24,2014-12-08,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
25,2014-09-05,dividend,NBR,Nabors Industries Ltd,3.00,N/A,None
26,2014-06-05,dividend,NBR,Nabors Industries Ltd,2.00,N/A,None
27,2014-03-06,dividend,NBR,Nabors Industries Ltd,2.00,N/A,None
28,2013-12-06,dividend,NBR,Nabors Industries Ltd,2.00,N/A,None
29,2013-09-04,dividend,NBR,Nabors Industries Ltd,2.00,N/A,None
30,2013-06-05,dividend,NBR,Nabors Industries Ltd,2.00,N/A,None
31,2013-03-07,dividend,NBR,Nabors Industries Ltd,2.00,N/A,None
32,2010-09-10,acquisitionof,NBR,Nabors Industries Ltd,681.20,SWSI,Superior Well Services Inc
33,2006-04-18,split,NBR,Nabors Industries Ltd,2.00,N/A,None
34,1999-11-24,acquisitionof,NBR,Nabors Industries Ltd,583.20,PESC,Pool Energy Services Co
35,1999-04-07,acquisitionof,NBR,Nabors Industries Ltd,103.60,BDI,Bayard Drilling Technologies Inc
36,1997-12-31,initiated,NBR,Nabors Industries Ltd,NaN,N/A,None

In [35]:
nasdaqdatalink.get_table('SHARADAR/SEP', ticker='NBR', date={'gte':'2020-03-08', 'lte':'2020-03-15'})

,ticker,date,open,high,low,close,volume,closeadj,closeunadj,lastupdated
None,,,,,,,,,,
0,NBR,2020-03-13,18.995,19.500,16.500,18.500,214836.46,18.500,0.370,2020-04-25
1,NBR,2020-03-12,17.995,18.440,15.500,16.000,241503.30,16.000,0.320,2020-04-25
2,NBR,2020-03-11,22.000,23.000,16.325,19.830,362340.84,19.830,0.397,2020-04-25
3,NBR,2020-03-10,32.505,33.005,20.250,22.000,569737.78,21.459,0.440,2020-04-25
4,NBR,2020-03-09,27.500,28.965,25.470,25.685,351814.66,25.053,0.514,2020-04-25

In [28]:
start = pd.to_datetime('1998-01-10', utc=True)
end = pd.to_datetime('1998-01-21', utc=True)
prices(symbols(['APEX']), start, end)

1998-01-12 00:00:00+00:00    14.000
1998-01-13 00:00:00+00:00    15.000
1998-01-14 00:00:00+00:00    14.750
1998-01-15 00:00:00+00:00    15.310
1998-01-16 00:00:00+00:00     9.250
1998-01-20 00:00:00+00:00     9.750
1998-01-21 00:00:00+00:00     9.875
Freq: C, Name: Equity(198143 [APEX]), dtype: float64